@import "./assets/fork-awesome/scss/mixins";

@mixin apsect-ratio($w, $h) {
    position: relative;
    padding-top: unquote(100 / ($w / $h) +"%");

    & > * {
        position: absolute;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        width: 100%;
        height: 100%;
    }
}
